obj/*.o
obj/**/*.o
.d/*.d
.d/*.Td
.d/**/*.d
.d/**/*.Td
vendor/raylib/*.o
vendor/raylib/*.a
tmp
*swp
.vscode/ipch/
bin/collatz
bin/collatz.dSym
bin/collatz.exe
win/collatz.exe
win/res
mac/Collatz.app/Contents/MacOS/collatz
mac/Collatz.app/Contents/MacOS/res
linux/collatz32
linux/collatz64
linux/res
storage.data
